* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* THEMES */
body.dark {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
body.light {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
}

.chat-container {
  width: 95%;
  max-width: 480px;
  height: 90vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  padding: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

#themeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* MESSAGE */
.msg {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 16px;
  margin-bottom: 10px;
  color: #fff;
  animation: fadeIn 0.2s;
}

.me {
  background: #4caf50;
  margin-left: auto;
  border-bottom-right-radius: 4px;
}

.other {
  background: #2196f3;
  margin-right: auto;
  border-bottom-left-radius: 4px;
}

.username {
  font-size: 11px;
  opacity: 0.8;
  margin-bottom: 3px;
}

.chat-input {
  padding: 12px;
  background: rgba(0, 0, 0, 0.3);
}

#msg {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
